* {
    box-sizing: border-box;
}
body {
    border: 0;
    margin: 0;
    background-image: url("../img/background\ 1.png");
    background-size: cover;
}
.header {
    width: 1030px;
    margin: 0 auto;
    margin-top: 51px;
    margin-bottom: 22px;
    display: flex;
    justify-content: space-between;
}
.header_logo {
    margin-top: 5px;
    margin-bottom: 5px;
}
.header_logo a {
    text-decoration: none;
    display: flex;
    align-items: center;
}
.header_logo:hover p {
    color: #F26522;
}
.header_logo:hover .logo_icon {
    filter: invert(53%) sepia(41%) saturate(4776%) hue-rotate(347deg) brightness(97%) contrast(95%);
} 
.logo_icon {
    display: inline-block;
    width: 53px;
    height: 47px;   
    background-size: cover;
    filter: invert(0%) sepia(0%) saturate(7481%) hue-rotate(53deg) brightness(100%) contrast(105%);
    padding-right: 8px;
}
.logo_text_1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
    margin: 0;
}
.logo_text_2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 0;
}
.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.header_text {
    margin: 0;
}
.header_text > a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
}
.header_text a:hover {
    color: #F26522;
}
.main {
    max-width: 1030px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 54px;
    row-gap: 37px;
}
.gallery a {
    text-decoration: none;
    position: relative;
}
.gallery:hover .gallery_text{
    color: #F26522;
}
.gallery:hover .details {
    display: flex;
}
.gallery_item {
    width: 300px;
    height: 220px;
    background: linear-gradient( to bottom, white, black);
    padding: 2px;
}
.details {
    width: 300px;
    display: flex;
    justify-content: space-between;
    background-color: #F26522;
    color: white;
    padding-top: 7px;
    padding-bottom: 12px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    display: none;
}
.cost {
    padding-left: 16px;
}
.from {
    margin: 0;
    margin-bottom: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
}
.price {
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
}
.view_details {
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    margin-top: 29px;
    margin-right: 37px;
    position: relative;
}
.view_details::after {
    content: '>';
    position: absolute;
    right: -20px;
    }
.gallery_text {
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}
.footer_text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 49px;
    margin-bottom: 15px;
}